<div id="sub_header">
    <div class="post">
        <h2>Ask for people</h2>
        <div>
            <a href="/en/job/new">Post a Job</a>
        </div>
    </div>

    <div class="search">
        <h2>Ask for a job</h2>
        <form action="/en/search" method="get">
            <input type="text" name="query" value="" id="search_keywords">
            <input type="submit" value="search" style="display: none;">
            <img id="loader" src="/images/loader.gif" style="vertical-align: middle; display: none">
            <div class="help">
                Enter some keywords (city, country, position, ...)
            </div>
        </form>
    </div>
</div>